/* common css start */
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0f2656;
}

/* common css end */

/* header start */
header {
  padding: 15px 0px;
  border-bottom: 2px solid #f0f2f4;
}

.container {
  margin: 0 auto;
  width: 90%;
  /* border: 1px solid red; */
  overflow: hidden;
}

.logo {
  width: 10%;
  /* border: 1px solid black; */
  float: left;
}

.logo img {
  width: 100%;
}

.menu {
  width: 50%;
  /* border: 1px solid black; */
  float: right;
}

.menu ul {
  float: right;
}

.menu ul li {
  list-style: none;
  float: left;
}

.menu ul li a {
  display: inline-block;
  padding: 0px 25px;
  color: #0f2656;
  text-decoration: none;
  transition: .33s;
}

.menu ul li:last-child a {
  padding-right: 0px;
}

.menu ul li a:hover {
  color: #008aff;

}

/* header end */

/* banner start */
.banner {
  padding: 60px 0;
  ;
}

.container2 {
  margin: 0 auto;
  width: 65%;
  border: 1px black;
  text-align: center;
  overflow: hidden;
}

.b_h1 {
  margin: 0;
  padding: 0 160px;
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
}

.b_h1 span {
  color: #008aff;
}

.b_p {
  margin: 10px 0;
  padding: 0 92px;
  color: #7c8ca7;
  line-height: 25px;
}

.b_img {
  margin: 0 auto;
  width: 65%
}

.b_img img {
  margin: 0 auto;
  width: 100%;
}

/* banner end */

/* success start */
.container3 {
  margin-right: 2%;
  padding: 50px 2%;
  display: flex;

}

.s_left {
  margin-right: 15px;
  display: inline;
  width: 35%;
  text-align: right;
  float: left;

}

.success_h2 {
  margin-bottom: 2px;
  padding-right: 0;
  font-size: 35px;
  color: #f15767;
  text-align: right;

}

.s_p {
  color: #7c8ca7;
  line-height: 20px;
}

.s_right {
  width: 25%;
  text-align: center;
}

.success_h1 {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 0;
  padding-right: 320px;
  font-size: 35px;

}

/* success end */

/* service start */
.service {}

.single_service {
  margin-top: 25px;
  margin-right: 2%;
  margin-bottom: 25px;
  padding: 50px 2%;
  width: 32%;
  /* border: 1px solid blue; */
  float: left;
  box-sizing: border-box;

}

.single_service:first-child {
  background-color: #fdebed;
}

.single_service:nth-child(2) {
  background-color: #ebf9f4;
}

.single_service:last-child {
  background-color: #fff7e8;
  margin-right: 0;
}

.ss_img {}

.ss_img img {
  width: 100%;

}

.ss_h2 {
  margin: 15px 0;
  font-size: 24px;
  font-weight: 700;
}

.ss_p {
  margin: 0;
  color: #7c8ca7;
  line-height: 25px;
}

/* service end */

/* footer start */
.footer_h6 {
  padding: 25px;
  background-color: #008aff;
  color: rgba(255, 255, 255, 0.788);
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0;
}

.footer_h6 span {
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}

/* footer end */
